body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 50px;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.menuSimge{
    display: none;
}
.sneaker{
    display: flex;
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.kategori{
    display: flex;
    color: gray;
    font-size: 20px;
    margin: 15px 0px;
    gap: 10px;
}
.cizgi{
    display: flex;
    width: 100%;
}
.cizgi> div{
    width: 100%;
    height: 1px;
    margin: 0 50px;
    background-color: gray;
}
.satis{
    display: flex;
    flex-direction: row;
    margin: 100px;
}
.content{
    display: flex;
    justify-content: center;
}
.anaAyakkabi{
    display: flex;
    position: relative;
    border-radius: 6%;
    max-width: 500px;
}
.ok1{
    display: none;
    position: absolute;
    top: 330px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;

}
.ok2{
    display: none;
    position: absolute;
    top: 330px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;

}
.altAyakkabilar1{
    display: flex;
    opacity: 0.7;
    outline-style:solid;
}
.altAyakkabilar{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.altAyakkabilar> img{
    border-radius: 15%;
}
.yazilar{
    display: flex;
    flex-direction: column;
    margin: 60px 90px;
    gap: 20px;
}
.yazi1{
    display: flex;
    font-size: 15px;
    color: grey;
    font-weight: bold;
}
.yazi2{
    display: flex;
    font-size: 40px;
    color:black;
    font-weight: bold;
}
.yazi3{
    display: flex;
    font-size: 20px;
    color: grey;
}
.fiyatlar{
    display: flex;
    flex-direction: column;
}
.fiyat1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
    font-size: 30px;
}
.yuzdeElli{
    background-color: black;
    color: white;
    border-radius: 15%;
    font-size: 20px;
    align-items: center;

}
.fiyat2{
    display: flex;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.5;
    text-decoration:line-through;
}
.ekleme{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sayi{
    display: flex;
    background-color: rgb(209, 203, 203);
    width: 110px;
    height: 40px;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 10px;
}
.sepet{
    display: flex;
    background-color: rgb(209, 203, 203);
    width: 300px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width:1200px){
    .satis{
        flex-direction: column;
    }
    .ekleme{
        flex-direction: column;
    }
    .ok1{
        display: flex;
        top: 70%;
        left: 31%;
    }
    .ok2{
        display: flex;
        right: 31%;
        top: 70%;
    }
    .altAyakkabilar{
        justify-content: center;
    }
    .yazilar{
        align-items:center;
    }
}
@media screen and (max-width:686px) {
    .menu{
        display: none;
        
    }
    .menuSimge{
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        display: flex;
    }

}
@media screen and (max-width:480px)  {
    .satis{
        flex-direction: row;
        display: flex;
        margin: 40 0;
    }
    .cizgi{
        display: none;
    }
    .menuSimge{
        align-items: center;
        font-weight: bold;
        font-size: 30px;
        display: flex;
    }
    .kategori{
        display: none;
    }
    .satis{
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    .altAyakkabilar1{
        display: none;
    }
    .altAyakkabilar{
        display: none;
        
    }
    .anaAyakkabi{
        position: relative;
        border-radius: 0;
        display: flex;
    }
    .ok1{
        display: flex;
        left: 10%;
        top: 50%;
    }
    .ok2{
        display: flex;
        right: 10%;
        top: 50%;
    }
    .yazilar{
        margin: 60px 50px;
    }
    .fiyatlar{
        flex-direction: row;
        gap: 150px;
    }
    .ekleme{
        flex-direction: column;
    }
    .sayi{
        width: 350px;
        height: 40px;
    }
    .sepet{
        width: 350px;
        height: 40px;
        
    }
    
    
}

